@media (max-width: 576px){ 
    header,.container{
        padding: 30px 20px;
    }
    nav, .our-team-setion, .features-area{
        flex-direction: column;
    }
    .team-member-pic{
        display: grid;
       grid-template-columns: auto;
        gap: 20px;
    }
    .team-text{
        width: 100%;
        text-align: center;
        padding: 20px 0px;
    }
    .team-title{
        font-size: 1.5rem;
        padding-top: 30px;
    }
    .btn-primary {
        font-size: 1rem;
        padding: 20px 24px;
    }
    .team-content{
        text-align: center;
    }
    .fetures-imag img{
        width: 100%;
    }
    .warrnty {
        padding: 30px 15px;
        bottom: 100px;
        right: 0px;
    }
    .fetures-content {
        width: 100%;
        margin-right: 0px;
    }
    .reward-area{
        padding: 50px;
    }
    .reward-card{
        grid-template-columns: repeat(2, 220px);
        gap: 20px;
    }
    .rewars-description {
        width: 100%;
    }
    .sponsor-reqard{
        display: grid;
        grid-template-columns: repeat(1, 100px);
        gap: 50px;
    }
    .footer-area{
        padding: 40px 50px;
       
    }
    .features-area {
        padding: 20px;
    }
 } 
 @media (min-width: 576px)  and (max-width: 960px){
    nav, .our-team-setion, .features-area{
        flex-direction: column;
       }
    .banner-content{
        padding-top: 30px;
    }
    .team-content{
        text-align: center;
    }
    .team-text{
        width: 100%;
        text-align: center;
        padding: 24px 0px;
    }
    .team-title{
        text-align: center;
        font-size: 2rem;
        padding-top: 50px;
    }
    .features-area{
        padding: 50px;
        
    }
    .fetures-content {
        max-width: 100%;
        margin-right: 0px;
    }
    .fetures-imag img{
        width: 100%;
    }
    .warrnty {
        padding: 30px 15px;
        bottom: 100px;
        right: 0px;
    }
    .reward-area{
        padding: 50px;
    }
    .reward-card{
        grid-template-columns: repeat(2, 250px);
        gap: 20px;
    }
    .sponsor-reqard{
        display: grid;
        grid-template-columns: repeat(1, 150px);
        gap: 50px;
    }
 }               